In [1]:
# Import the data_controller module from its folder
import sys
sys.path.append("../")
from data_controller import Collection, Object, field, condition

In [2]:
# Import Faker to create fake data
from faker import Faker
fake = Faker()

# Generate 1 fake user
def generate_one_user():
    return {
        "email": fake.email(),
        "first_name": fake.first_name(),
        "last_name": fake.last_name(),
        "phone_number": fake.phone_number(),
        "age": fake.pyint(min_value=8, max_value=100)
    }

# Generate a list of fake users with N users
def generate_many_users(n):
    users = []
    for i in range(n):
        users.append(generate_one_user())
    return users

generate_many_users(3)

[{'email': 'christopherschneider@example.com',
  'first_name': 'Rebekah',
  'last_name': 'Garcia',
  'phone_number': '001-687-616-1612x70584',
  'age': 47},
 {'email': 'jeffreytaylor@example.net',
  'first_name': 'Alexandra',
  'last_name': 'Kelly',
  'phone_number': '007-160-8200x826',
  'age': 74},
 {'email': 'heather22@example.org',
  'first_name': 'Ashley',
  'last_name': 'Frazier',
  'phone_number': '499.260.7414x688',
  'age': 23}]

In [3]:
user_collection = Collection(generate_many_users(1000))
user_collection[0:3] #Slice a collection

[{'email': 'williamgibson@example.org', 'first_name': 'Jose', 'last_name': 'Kelly', 'phone_number': '724-524-6460', 'age': 18}, {'email': 'srivas@example.com', 'first_name': 'Jason', 'last_name': 'Mcneil', 'phone_number': '001-973-429-6299x007', 'age': 23}, {'email': 'zwilkerson@example.org', 'first_name': 'Kenneth', 'last_name': 'Daniels', 'phone_number': '404-890-8037', 'age': 34}]

In [4]:
print(
    "SELECT ROW 5:\n",
    user_collection[5], # Select row from the collection
    end="\n"
) 
print()
print(
    "SELECT FIELD \"last_name\" FROM ROW 5:\n",
    user_collection[5][['last_name']],  # Get last_name from the selected row
    end="\n" 
)

print("Trim fields and slice the dataset")
user_collection[0:5][['first_name', 'last_name']] # Select specific fields from rows 0 through 5

SELECT ROW 5:
 {'email': 'hwalters@example.org', 'first_name': 'Mitchell', 'last_name': 'Wagner', 'phone_number': '001-866-682-6003', 'age': 11}

SELECT FIELD "last_name" FROM ROW 5:
 {'last_name': 'Wagner'}
Trim fields and slice the dataset

[{'first_name': 'Jose', 'last_name': 'Kelly'},
 {'first_name': 'Jason', 'last_name': 'Mcneil'},
 {'first_name': 'Kenneth', 'last_name': 'Daniels'},
 {'first_name': 'Noah', 'last_name': 'Singh'},
 {'first_name': 'Brittany', 'last_name': 'Huff'}]

In [9]:
import re
# Find all rows where Age > 40 and first name starts with 'M'
user_collection.where(
    field('age') > 80,  # easy way to state simple conditionals
    # For more complex conditionals use...
    condition('first_name','regex_match',(r'^m.*',re.IGNORECASE))   
)

[{'email': 'rfoster@example.com', 'first_name': 'Melissa', 'last_name': 'Reyes', 'phone_number': '599.182.1424x47186', 'age': 85}, {'email': 'david19@example.com', 'first_name': 'Martin', 'last_name': 'Velasquez', 'phone_number': '053-776-6948x77348', 'age': 90}, {'email': 'juliagates@example.com', 'first_name': 'Mary', 'last_name': 'Lewis', 'phone_number': '(000)125-1244', 'age': 88}, {'email': 'stephen06@example.com', 'first_name': 'Margaret', 'last_name': 'Brooks', 'phone_number': '056-154-8433x8938', 'age': 93}, {'email': 'fcollier@example.com', 'first_name': 'Michael', 'last_name': 'Butler', 'phone_number': '001-846-091-5796x430', 'age': 87}, {'email': 'tthompson@example.com', 'first_name': 'Madeline', 'last_name': 'Beasley', 'phone_number': '001-992-825-9412', 'age': 98}, {'email': 'nataliegibson@example.net', 'first_name': 'Michael', 'last_name': 'Wilkinson', 'phone_number': '(447)109-6294', 'age': 93}, {'email': 'freemanseth@example.net', 'first_name': 'Matthew', 'last_name': 'Cole', 'phone_number': '936-539-6316x5672', 'age': 85}, {'email': 'emilyolsen@example.net', 'first_name': 'Michelle', 'last_name': 'Morales', 'phone_number': '(123)403-2780x99103', 'age': 92}, {'email': 'mcfarlandkelly@example.com', 'first_name': 'Madison', 'last_name': 'Curtis', 'phone_number': '(494)694-8486', 'age': 88}, {'email': 'reedjeffrey@example.com', 'first_name': 'Michael', 'last_name': 'Johnson', 'phone_number': '402-517-6078', 'age': 93}, {'email': 'madelinebrown@example.net', 'first_name': 'Mark', 'last_name': 'Smith', 'phone_number': '(625)626-5523', 'age': 100}, {'email': 'ltorres@example.net', 'first_name': 'Matthew', 'last_name': 'Smith', 'phone_number': '+1-607-230-2926x39834', 'age': 94}, {'email': 'walter53@example.org', 'first_name': 'Michael', 'last_name': 'Smith', 'phone_number': '+1-070-166-2156', 'age': 83}, {'email': 'ruth27@example.org', 'first_name': 'Mercedes', 'last_name': 'Walker', 'phone_number': '673-319-5894x465', 'age': 82}, {'email': 'michelle38@example.com', 'first_name': 'Michelle', 'last_name': 'Flores', 'phone_number': '001-483-534-7943x6781', 'age': 84}, {'email': 'schroederruth@example.com', 'first_name': 'Mike', 'last_name': 'Wells', 'phone_number': '902.706.7762x0898', 'age': 91}, {'email': 'cantrelljoshua@example.com', 'first_name': 'Margaret', 'last_name': 'Lynch', 'phone_number': '001-772-306-0161', 'age': 91}]

In [6]:
bool(re.match("^m.*","Gary", re.IGNORECASE))

False