In [1]:
# Import the data_controller module from its folder
import sys
sys.path.append("../")
from data_controller import Collection, Object, field, condition

In [2]:
# Import Faker to create fake data
from faker import Faker
fake = Faker()

# Generate 1 fake user
def generate_one_user():
    return {
        "email": fake.email(),
        "first_name": fake.first_name(),
        "last_name": fake.last_name(),
        "phone_number": fake.phone_number(),
        "age": fake.pyint(min_value=8, max_value=100)
    }

# Generate a list of fake users with N users
def generate_many_users(n):
    users = []
    for i in range(n):
        users.append(generate_one_user())
    return users

In [3]:
user_collection = Collection(generate_many_users(1000))
print("Columns : ",user_collection.columns)
user_collection[12:20] #Slice a collection

Columns :  ['phone_number', 'first_name', 'last_name', 'email', 'age']

[{'email': 'edward66@example.com', 'first_name': 'Paige', 'last_name': 'Schmidt', 'phone_number': '+1-880-526-8328x872', 'age': 94}, {'email': 'carrdaniel@example.com', 'first_name': 'Michael', 'last_name': 'Hines', 'phone_number': '+1-786-361-2231x4720', 'age': 62}, {'email': 'mccoydebra@example.com', 'first_name': 'Jessica', 'last_name': 'Sullivan', 'phone_number': '(514)797-6030x470', 'age': 14}, {'email': 'davisdiana@example.net', 'first_name': 'Amanda', 'last_name': 'Branch', 'phone_number': '539.545.4431x3524', 'age': 85}, {'email': 'aschwartz@example.org', 'first_name': 'Renee', 'last_name': 'Johnson', 'phone_number': '001-385-606-2742x984', 'age': 40}, {'email': 'shellyharvey@example.com', 'first_name': 'Jordan', 'last_name': 'Carpenter', 'phone_number': '001-257-202-2040x9818', 'age': 44}, {'email': 'sjohnson@example.net', 'first_name': 'Christine', 'last_name': 'Ramirez', 'phone_number': '243.831.6259x79010', 'age': 75}, {'email': 'matthewcaldwell@example.com', 'first_name': 'Charles', 'last_name': 'Walsh', 'phone_number': '3242533367', 'age': 69}]

In [4]:
from IPython.display import display
print("SELECT ROW 5:")
display(user_collection[5]) # Select row from the collection

print("SELECT FIELD \"last_name\" FROM ROW 5:")
display(user_collection[5][['last_name']]) # Get last_name from the selected row

print("\nTrim fields and slice the dataset", end="")
display(user_collection[0:5][['first_name', 'last_name']]) # Select specific fields from rows 0 through 5

SELECT ROW 5:

{'email': 'vchurch@example.org', 'first_name': 'Ronald', 'last_name': 'Sheppard', 'phone_number': '+1-677-901-6187x3815', 'age': 32}

SELECT FIELD "last_name" FROM ROW 5:

{'last_name': 'Sheppard'}

Trim fields and slice the dataset

[{'first_name': 'Hailey', 'last_name': 'Leach'}, {'first_name': 'Alejandra', 'last_name': 'Jones'}, {'first_name': 'Michele', 'last_name': 'Miranda'}, {'first_name': 'Suzanne', 'last_name': 'Phillips'}, {'first_name': 'Logan', 'last_name': 'Russell'}]

In [5]:
import re
# Find first 5 rows where Age > 40 and first name starts with 'M'
user_collection.where(
    field('age') > 80,  # easy way to state simple conditionals
    # For more complex conditionals use...
    condition('first_name','regex_match',(r'^m.*',re.IGNORECASE))   
)[0:5]

[{'email': 'aclark@example.net', 'first_name': 'Maria', 'last_name': 'Scott', 'phone_number': '1270679712', 'age': 97}, {'email': 'reyesalicia@example.com', 'first_name': 'Matthew', 'last_name': 'Cline', 'phone_number': '(609)863-1820x967', 'age': 94}, {'email': 'longmary@example.net', 'first_name': 'Marvin', 'last_name': 'Hill', 'phone_number': '624-218-0110x23407', 'age': 92}, {'email': 'amandacohen@example.com', 'first_name': 'Michael', 'last_name': 'Scott', 'phone_number': '579-701-1916', 'age': 83}, {'email': 'kjenkins@example.org', 'first_name': 'Megan', 'last_name': 'Castillo', 'phone_number': '144.368.3170', 'age': 85}]

In [6]:
# Getting Unique Values
temp = user_collection[0:10] + [user_collection[0]] # Concatenate object to Collection or collection to collection
unique = temp.unique('age','first_name') # Length should be <= 10
unique

[{'age': 48, 'first_name': 'Michele'}, {'age': 27, 'first_name': 'Hailey'}, {'age': 91, 'first_name': 'Suzanne'}, {'age': 58, 'first_name': 'Alejandra'}, {'age': 18, 'first_name': 'Cynthia'}, {'age': 10, 'first_name': 'Nicole'}, {'age': 32, 'first_name': 'Ronald'}, {'age': 32, 'first_name': 'Raymond'}, {'age': 44, 'first_name': 'Logan'}, {'age': 57, 'first_name': 'Melinda'}]

In [7]:
# Transpose the data into a dict of lists (items are elementally equivalent to the original)
unique.T

{'age': [48, 27, 91, 58, 18, 10, 32, 32, 44, 57], 'first_name': ['Michele', 'Hailey', 'Suzanne', 'Alejandra', 'Cynthia', 'Nicole', 'Ronald', 'Raymond', 'Logan', 'Melinda']}