In [1]:
import os, sys
sys.path.append("../")  # Direct my system to look for modules in "../" directory

import domo_meido

In [2]:
my_domo_env_path = "./domo.env" # Environment Variables must be named : CLIENT_ID, CLIENT_SECRET

os.path.exists(my_domo_env_path) # Does the file exist?

True

In [3]:
my_domo_utility_path = "./query_def.json"
os.path.exists(my_domo_utility_path)

True

In [15]:
# NOTE: You cannot use utitlity_file AND table_def, ONLY 1 or the other.

domo_connection = domo_meido.DomoMeido(
    env_file = my_domo_env_path,
    utility_file = my_domo_utility_path, # Path to JSON that specifies the query to use
    # table_def = [{
    #     "name":"airports_us",   # the name of the variable to be generated
    #     "id":"802c21ff-3dec-4a3f-ac5b-62aae19b4261",               # ID of the table in Domo URL
    #     "columns":["ident","latitude_deg","longitude_deg","type"], # Columns to select from the table
    # }]
)

# table_def can be called using a literal string of json (i.e: """[{"this":"someObj"}]"""), a list of dictionaries, or a single dictionary.

In [16]:
tables = domo_connection.load()
tables.keys()   # list the tables we've collected

['airports_us', 'gale_branches']

In [19]:
tables.gale_branches.dataframe.head()

,id,companyid,coBranchID,companyName,branchName,branch_status,branch_Pretty
0,138,GHS,GHS-102,Gale Healthcare Solutions LLC,Iowa,1,GHS-102 | Iowa
1,137,GHS,GHS-100,Gale Healthcare Solutions LLC,South Dakota,1,GHS-100 | South Dakota
2,135,Test,Test-201,Admin Health (Licensing Test),Admin Health (Licensing Test),1,Test-201 | Admin Health (Licensing Test)
3,134,DTB,DTB-14,Gale Healthcare Solutions LLC,LTAC - Travel,1,DTB-14 | LTAC - Travel
4,133,GHS,GHS-99,Gale Healthcare Solutions LLC,LTAC - Travel,1,GHS-99 | LTAC - Travel

In [20]:
airports_us = tables.airports_us.dataframe

ident_as_series = airports_us['ident'] # select the column 'ident' as a series
ident_as_df = airports_us[['ident']]  # select specific columns and keep the result as a dataframe

ident_as_series

0      KLAX
1      KORD
2      KJFK
3      KATL
4      KSFO
       ...
165    KSSC
166    KVBG
167    KBAB
168    KGSB
169    KSZL
Name: ident, Length: 170, dtype: object